<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tarneeb_Card_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tarneeb_Card_Game.Properties.Settings>
            <setting name="connectString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Amritpal\source\repos\Zeel-Sutariya\TarneebCardGame\GameLogs.mdf;Integrated Security=True</value>
            </setting>
        </Tarneeb_Card_Game.Properties.Settings>
    </userSettings>
</configuration>